In [35]:
#import dependencies
import pandas as pd
import glob
import os

In [39]:
path = r'namesbystate'                     
all_files = glob.glob(os.path.join(path, "*.csv")) 

df_from_each_file = (pd.read_csv(f) for f in all_files)

In [41]:
concatenated_df   = pd.concat(df_from_each_file, ignore_index=True, sort=True)
#concatenated_df.head()

ValueError: No objects to concatenate

In [26]:
#data_file = "namesbystate/AK.csv"

In [29]:
#data_file_pd = pd.read_csv(data_file)
#data_file_pd.head()

   AK  F  1910      Mary  14
0  AK  F  1910     Annie  12
1  AK  F  1910      Anna  10
2  AK  F  1910  Margaret   8
3  AK  F  1910     Helen   7
4  AK  F  1910     Elsie   6